<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
        <customHeaders>
            <remove name="X-Powered-By" />
        </customHeaders>
    </httpProtocol>
    <security>
        <requestFiltering removeServerHeader="true" />
    </security>
    <rewrite>
        <rules>
            <rule name="Escape list" stopProcessing="true">
                <match url="(.*)"/>
                <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                    <add input="{REQUEST_URI}" pattern="^.*/(umbraco|install|api|bundles|app_plugins|.well-known)/" ignoreCase="true"/>
                    <add input="{REQUEST_URI}" pattern="^/DependencyHandler.axd" ignoreCase="true"/>
                </conditions>
                <action type="None"/>
            </rule>
            <rule name="Canonical hostName" stopProcessing="true">
                <match url="(.*)"/>
                <conditions>
                    <add input="{HTTP_HOST}" pattern="^umb.fyi$" negate="true"/>
                    <add input="{HTTP_HOST}" pattern="^localhost" negate="true"/>
                </conditions>
                <action type="Redirect" redirectType="Permanent" url="https://umb.fyi/{R:1}"/>
            </rule>
            <rule name="Redirect to https" stopProcessing="true">
                <match url="(.*)"/>
                <conditions>
                    <add input="{HTTPS}" pattern="Off" ignoreCase="true"/>
                    <add input="{HTTP_HOST}" pattern="^umb.fyi$"/>
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
            </rule>
            <rule name="Remove trailing slash" stopProcessing="true">
                <match url="(.*)/$" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{REQUEST_FILENAME}" pattern="(.*?)\.[a-zA-Z1-5]{1,4}$" negate="true" />
                </conditions>
                <action type="Redirect" redirectType="Permanent" url="{R:1}" />
            </rule>
            <rule name="Static redirects" stopProcessing="true">
                <match url=".*"/>
                <conditions>
                    <add input="{StaticRedirects:{REQUEST_URI}}" pattern="(.+)"/>
                </conditions>
                <action type="Redirect" redirectType="Permanent" url="{C:1}"/>
            </rule>
        </rules>
        <rewriteMaps>
            <rewriteMap name="StaticRedirects" defaultValue="">
                <!--<add key="/old/path" value="/news/path" />-->
            </rewriteMap>
        </rewriteMaps>
    </rewrite>
  </system.webServer>
</configuration>