<button type="button" class="btn-reset umb-outline blockelement-labelblock-editor blockelement__draggable-element ui-sortable-handle" ng-click="block.edit()" ng-focus="block.focus" ng-class="{ '--active': block.active, '--error': parentForm.$invalid && valFormManager.isShowingValidation() }" val-server-property-class="" style="font-size: 16px;font-weight: 900;border-left: solid 5px #ccc;">
    <span aria-hidden="true"style="margin-right:10px;">{{ block.data.groupEmoji }}</span>
    <span><strong>{{ block.data.groupTitle }}</strong></span>
</button>